In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt

In [2]:
years = 15
enddate = dt.datetime.now()
startdate = enddate - dt.timedelta(days = 365*years)

In [3]:
tickers = ['SPY','BND','GLD','QQQ','VTI']
data = yf.download(tickers, start = startdate, end = enddate)['Adj Close']
data

[*********************100%***********************]  5 of 5 completed

Ticker            BND         GLD         QQQ         SPY         VTI
Date
2010-02-02  51.844910  109.129997   38.126694   83.787193   42.671307
2010-02-03  51.812229  108.699997   38.336334   83.369659   42.457561
2010-02-04  51.910168  104.370003   37.227032   80.796379   41.136982
2010-02-05  51.995132  104.680000   37.541477   80.963394   41.205673
2010-02-08  52.001652  104.040001   37.270687   80.378899   40.885067
...               ...         ...         ...         ...         ...
2025-01-22  72.010002  254.429993  531.510010  606.440002  300.600006
2025-01-23  71.900002  254.070007  532.640015  609.750000  302.179993
2025-01-24  72.040001  255.649994  529.630005  607.969971  301.299988
2025-01-27  72.419998  252.990005  514.210022  599.369995  297.100006
2025-01-28  72.379997  255.179993  521.809998  604.520020  299.649994

[3771 rows x 5 columns]

In [6]:
log_ret = np.log(data/data.shift(1))
log_ret = log_ret.dropna()
log_ret

Ticker           BND       GLD       QQQ       SPY       VTI
Date
2010-02-03 -0.000631 -0.003948  0.005483 -0.004996 -0.005022
2010-02-04  0.001888 -0.040649 -0.029363 -0.031352 -0.031598
2010-02-05  0.001635  0.002966  0.008411  0.002065  0.001668
2010-02-08  0.000125 -0.006133 -0.007239 -0.007245 -0.007811
2010-02-09 -0.002012  0.013082  0.010259  0.012482  0.013169
...              ...       ...       ...       ...       ...
2025-01-22 -0.002081  0.005123  0.012705  0.005606  0.004869
2025-01-23 -0.001529 -0.001416  0.002124  0.005443  0.005242
2025-01-24  0.001945  0.006199 -0.005667 -0.002924 -0.002916
2025-01-27  0.005261 -0.010459 -0.029547 -0.014246 -0.014038
2025-01-28 -0.000552  0.008619  0.014672  0.008556  0.008546

[3770 rows x 5 columns]

In [9]:
port_val = 1000000
weights = np.array([1/len(tickers)]*len(tickers))
weights

array([0.2, 0.2, 0.2, 0.2, 0.2])

In [10]:
cov_mat = log_ret.cov()*252
cov_mat

Ticker       BND       GLD       QQQ       SPY       VTI
Ticker
BND     0.002362  0.002283  0.000271  0.000051  0.000102
GLD     0.002283  0.024040  0.001699  0.001366  0.001509
QQQ     0.000271  0.001699  0.041971  0.032520  0.033211
SPY     0.000051  0.001366  0.032520  0.029212  0.029827
VTI     0.000102  0.001509  0.033211  0.029827  0.030700

In [11]:
std_port = np.sqrt(weights.T @ cov_mat @ weights)
std_port

0.11557837966017259

In [12]:
conf_level = [0.90,0.95,0.99]
from scipy.stats import norm
VARs=[]

In [19]:
days =5
for cl in conf_level:
    VAR = port_val* std_port * norm.ppf(cl)*np.sqrt(days/252)
    print(VAR)

20863.992546175275
26778.64452350868
37873.54797789417